@font-face {
  font-family: "Avanti";
  src: url("../fonts/Avanti.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  height: 100%;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.discont-slider-wrapper {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
}
.discont-slider-wrapper .discont-slider {
  overflow: visible;
}
.discont-slider-wrapper .discont-slider .swiper-slide {
  padding: 0px 20px;
}
.discont-slider-wrapper .discont-swiper-pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  padding: 0px 20px;
  margin-top: 30px;
  height: auto;
}
.discont-slider-wrapper .discont-swiper-pagination .swiper-pagination-bullet-active {
  background: #980e3e;
}

.discont-button {
  display: inline-flex;
  flex-wrap: wrap;
  width: auto;
  min-width: 216px;
  min-height: 52px;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-decoration: none;
  padding: 5px 24px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
}

.discont {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1160px;
  border-radius: 15px;
  overflow: hidden;
  margin: 0 auto;
}
.discont.discont--light {
  background: #fbfbfb;
  color: #000000;
}
.discont.discont--light .discont-button {
  background: #980e3e;
  color: #fff;
}
.discont.discont--light .title-wrapper.title-wrapper--creativ {
  border: 3px solid #980e3e;
}
.discont.discont--light .title-wrapper.title-wrapper--creativ .discont-subtitle {
  background: #980e3e;
  color: #fff;
}
.discont.discont--dark {
  background: #980e3e url("../img/discontBackground.png") no-repeat center center/cover;
  background-size: 100% auto;
  color: #ffffff;
}
.discont.discont--dark .discont-button {
  background: #ffffff;
  color: #000000;
}
.discont.discont--dark .title-wrapper.title-wrapper--creativ {
  border: 3px solid #fff;
}
.discont.discont--dark .title-wrapper.title-wrapper--creativ .discont-subtitle {
  background: #fff;
  color: #000;
}

.discont__image {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 42%;
}
.discont__image picture,
.discont__image img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.discont__content {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 58%;
  padding: 40px 20px;
}

.title-wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  margin: auto;
  width: 100%;
  gap: 20px;
}
.title-wrapper.title-wrapper--creativ {
  max-width: 422px;
  border-radius: 22px;
  z-index: 1;
  overflow: hidden;
  gap: 0px;
  margin: 20px 0px;
}
.title-wrapper.title-wrapper--creativ .discont-title {
  padding: 24px 32px;
}
.title-wrapper.title-wrapper--creativ .discont-subtitle {
  font-size: 16px;
  padding: 16px 32px;
  max-width: 100%;
}
.title-wrapper .discont-button {
  margin-top: 30px;
}
.title-wrapper .discont__info {
  margin-top: 20px;
}

.discont-title {
  font-family: "Avanti";
  font-weight: 400;
  text-transform: uppercase;
}
.discont-title span {
  display: block;
  width: 100%;
}
.discont-title.size--h1,
.discont-title .size--h1 {
  font-size: 80px;
  line-height: 1;
}
.discont-title.size--h2,
.discont-title .size--h2 {
  font-size: 64px;
  line-height: 1;
}
.discont-title.size--h3,
.discont-title .size--h3 {
  font-size: 56px;
  line-height: 1;
}
.discont-title.size--h3.colored,
.discont-title .size--h3.colored {
  font-size: 51px;
}
.discont-title.size--h4,
.discont-title .size--h4 {
  font-size: 40px;
  line-height: 1.2;
}
.discont-title.size--h5,
.discont-title .size--h5 {
  font-size: 31px;
  line-height: 1.8;
}
.discont-title.size--h6,
.discont-title .size--h6 {
  font-size: 28px;
  line-height: 1.8;
}

.discont-subtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  display: block;
  max-width: 420px;
}

.discont__info {
  display: inline-flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  border: 2px solid #980e3e;
  background: #fbfbfb;
  border-radius: 8px;
  padding: 12px;
  gap: 10px;
  position: relative;
  z-index: 1;
  max-width: 284px;
}
.discont__info .icon {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 4px;
  background: #980e3e;
}
.discont__info p {
  display: block;
  width: calc(100% - 45px);
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.2;
  text-align: left;
}
.discont__info p .colored {
  font-weight: 600;
}

.colored {
  color: #980e3e;
}

.corner {
  display: flex;
  position: absolute;
  right: 40px;
  bottom: 0px;
  flex-wrap: wrap;
  gap: 12px;
  padding: 16px;
  border-radius: 16px 16px 0px 0px;
  border-left: 2px solid #980e3e;
  border-top: 2px solid #980e3e;
  border-right: 2px solid #980e3e;
  background: #fbfbfb;
}
.corner .corner__image {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  width: 78px;
  height: 78px;
}
.corner .corner__title {
  display: block;
  font-family: "Avanti";
  font-size: 18px;
  font-weight: 400;
  line-height: 16.69px;
}
.corner .corner__title span {
  display: block;
  font-size: 13px;
  line-height: 12.05px;
  margin-bottom: 5px;
}
.corner .corner__subtitle {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 500;
  line-height: 17.07px;
}
.corner .corner__promocode {
  font-family: "Avanti";
  font-size: 16px;
  font-weight: 700;
  line-height: 17.53px;
  text-align: center;
  display: block;
  padding: 10px;
  background: #980e3e;
  color: #fff;
  border-radius: 8px;
  z-index: 1;
  width: 100%;
}
.corner a {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 44px;
  height: 44px;
  border-radius: 44px;
  position: absolute;
  right: 16px;
  top: 16px;
  background: #980e3e;
}
.corner.corner--salon {
  justify-content: flex-start;
  align-items: flex-start;
  width: 252px;
  padding-bottom: 40px;
}
.corner.corner--promocode {
  justify-content: center;
  align-items: center;
  width: 210px;
  text-align: center;
}
.corner.corner--promocode .corner__subtitle {
  font-weight: 600;
}

.discont__programs {
  display: inline-flex;
  width: auto;
  flex-wrap: nowrap;
  gap: 15px;
  position: absolute;
  right: 40px;
  bottom: 40px;
}
.discont__programs div {
  display: flex;
  flex-wrap: wrap;
  width: 160px;
  height: auto;
  padding: 10px;
  gap: 3px;
  border-radius: 8px;
  border: 2px solid #980e3e;
  background: #fbfbfb;
}
.discont__programs div > * {
  font-family: "Montserrat";
  font-weight: 500;
  display: block;
  width: 100%;
  text-align: center;
  line-height: 1;
}
.discont__programs span {
  font-size: 48px;
  color: #980e3e;
}
.discont__programs p {
  font-size: 11px;
}

@media screen and (max-width: 1279px) {
  .title-wrapper {
    gap: 14px;
  }
  .title-wrapper.title-wrapper--creativ {
    margin: 0px 0px 14px 0px;
  }
  .title-wrapper.title-wrapper--creativ .discont-title {
    text-align: center;
    padding: 20px;
  }
  .title-wrapper.title-wrapper--creativ .discont-subtitle {
    font-size: 12px;
    padding: 12px 14px;
    max-width: 100%;
  }
  .title-wrapper .discont-button {
    margin-top: 10px;
  }
  .title-wrapper .discont__info {
    margin-top: 10px;
  }
  .corner {
    right: 10px;
    gap: 8px;
    padding: 8px;
    border-radius: 8px 8px 0px 0px;
  }
  .corner .corner__image {
    width: 34px;
    height: 34px;
  }
  .corner .corner__title {
    width: 100%;
    font-size: 16px;
    line-height: 1.2;
  }
  .corner .corner__title span {
    font-size: 10px;
    line-height: 0.8;
    margin-bottom: 2px;
  }
  .corner .corner__subtitle {
    font-size: 10px;
    font-weight: 400;
    line-height: 1.2;
  }
  .corner .corner__promocode {
    font-size: 14px;
    line-height: 1.2;
    padding: 8px;
    border-radius: 4px;
  }
  .corner a {
    width: 24px;
    height: 24px;
    border-radius: 24px;
    right: 8px;
    top: 8px;
  }
  .corner a img {
    width: 30%;
  }
  .corner.corner--salon {
    width: 140px;
    padding-bottom: 10px;
    border-radius: 8px 0px 0px 0px;
    right: -2px;
  }
  .corner.corner--promocode {
    width: 160px;
  }
  .corner.corner--promocode .corner__subtitle {
    font-size: 12px;
  }
  .discont-title.size--h6,
.discont-title .size--h6 {
    font-size: 24px;
  }
  .discont-title.size--h3.colored,
.discont-title .size--h3.colored {
    font-size: 44px;
  }
  .discont__programs {
    gap: 10px;
    right: 40px;
    bottom: 40px;
  }
  .discont__programs div {
    width: 120px;
    padding: 8px;
    border-radius: 4px;
  }
  .discont__programs span {
    font-size: 30px;
  }
  .discont__programs p {
    font-size: 8px;
  }
}
@media screen and (max-width: 1023px) {
  .discont-button {
    min-width: 174px;
    min-height: 48px;
    padding: 5px 20px;
    font-size: 16px;
    line-height: 1;
  }
  .discont.discont--light .title-wrapper.title-wrapper--creativ {
    border: 2px solid #980e3e;
  }
  .discont.discont--dark .title-wrapper.title-wrapper--creativ {
    border: 2px solid #fff;
  }
  .discont__content {
    padding: 30px 10px;
  }
  .title-wrapper {
    gap: 8px;
  }
  .title-wrapper.title-wrapper--creativ {
    max-width: 360px;
    margin: 0px 0px 14px 0px;
  }
  .title-wrapper.title-wrapper--creativ .discont-title {
    text-align: center;
    padding: 20px;
  }
  .title-wrapper.title-wrapper--creativ .discont-subtitle {
    font-size: 12px;
    padding: 12px 14px;
    max-width: 100%;
  }
  .title-wrapper .discont-button {
    margin-top: 10px;
  }
  .title-wrapper .discont__info {
    margin-top: 10px;
  }
  .discont-title.size--h1,
.discont-title .size--h1 {
    font-size: 64px;
  }
  .discont-title.size--h2,
.discont-title .size--h2 {
    font-size: 42px;
  }
  .discont-title.size--h3,
.discont-title .size--h3 {
    font-size: 36px;
  }
  .discont-title.size--h3.colored,
.discont-title .size--h3.colored {
    font-size: 36px;
  }
  .discont-title.size--h4,
.discont-title .size--h4 {
    font-size: 32px;
  }
  .discont-title.size--h5,
.discont-title .size--h5 {
    font-size: 18px;
  }
  .discont-title.size--h6,
.discont-title .size--h6 {
    font-size: 19.6px;
  }
  .discont-subtitle {
    font-size: 16px;
  }
  .discont__info {
    padding: 8px;
    gap: 8px;
    max-width: 230px;
  }
  .discont__info .icon {
    width: 30px;
    height: 30px;
  }
  .discont__info p {
    width: calc(100% - 38px);
    font-size: 12px;
  }
  .discont__programs {
    gap: 8px;
    right: 20px;
    bottom: 30px;
  }
  .discont__programs div {
    width: 80px;
    padding: 8px;
    border-radius: 4px;
  }
  .discont__programs span {
    font-size: 20px;
  }
  .discont__programs p {
    font-size: 8px;
  }
}
@media screen and (max-width: 767px) {
  .discont {
    max-width: 375px;
    min-height: 580px;
    border-radius: 14px;
  }
  .discont.discont--dark {
    background: #980e3e url("../img/discontBackgroundMobil.png") no-repeat center center/cover;
    background-size: 100% auto;
  }
  .discont__image {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    order: 2;
  }
  .discont__content {
    position: static;
    gap: 20px;
    order: 1;
    width: 100%;
    margin: 0;
    height: auto;
    align-self: flex-start;
    padding: 20px 24px 0px 24px;
    z-index: 2;
  }
  .discont-subtitle {
    font-size: 14px;
  }
  .title-wrapper.title-wrapper--creativ .discont-subtitle {
    font-size: 11px;
    padding: 12px;
  }
  .discont-title.size--h6,
.discont-title .size--h6 {
    font-size: 20px;
    line-height: 1.2;
    padding: 10px 0px;
  }
  .discont-title.size--h3.colored,
.discont-title .size--h3.colored {
    font-size: 33px;
  }
  .discont-title.size--h2,
.discont-title .size--h2 {
    font-size: 40px;
  }
  .discont-title.size--h3,
.discont-title .size--h3 {
    font-size: 33px;
  }
  .discont__programs {
    gap: 12px;
    right: 20px;
    left: 20px;
    bottom: 20px;
  }
  .discont__programs div {
    width: calc(50% - 6px);
    padding: 8px;
    border-radius: 8px;
  }
  .discont__programs span {
    font-size: 46px;
  }
  .discont__programs p {
    font-size: 9px;
  }
  .discont__info .icon img {
    max-width: 50%;
  }
}
@media screen and (max-width: 374px) {
  .discont__content {
    padding: 20px;
  }
  .discont-subtitle {
    font-size: 14px;
  }
  .discont-title.size--h3,
.discont-title .size--h3 {
    font-size: 32px;
  }
  .discont-title.size--h6,
.discont-title .size--h6 {
    font-size: 20px;
    line-height: 1.2;
    padding: 10px 0px;
  }
  .discont-title.size--h1,
.discont-title .size--h1 {
    font-size: 54px;
  }
}